<article class="card mb-4 custom-mini-post">
    <header class="card-header border-0 bg-transparent">
        <img src="https://via.placeholder.com/30x30"
             class="rounded-circle me-2" /><a href="/user/@Username" class="fw-semibold text-decoration-none custom-mini-post-username">@(Username != null ? Username : "User")</a>
            <span class="ms-3 small text-muted custom-mini-post-date">2 months ago</span>
    </header>
    <div class="card-body custom-mini-post-content">
        @Content
    </div>
    <footer class="card-footer custom-mini-post-footer border-0 py-1 px-3">
        <button type="button"
                class="btn btn-link btn-sm text-decoration-none ps-0">
            <i class="bi bi-hand-thumbs-up me-1"></i>(3)
        </button>
        <button type="button"
                class="btn btn-link btn-sm text-decoration-none">
            Reply
        </button>
        <button type="button"
                class="btn btn-light btn-sm border rounded-4 ms-2">
            <i class="bi bi-check-circle-fill text-secondary"></i> Add Favorites
        </button>
    </footer>
</article>

@code {
    [Parameter]
    public string Id { get; set; } = string.Empty;

    [Parameter]
    public string Username { get; set; } = "User";

    [Parameter]
    public string Content { get; set; } = string.Empty;
}
