.user-profile-user-image {
    height: 128px;
    width: 128px;
    background-color: #bbb;
    border-radius: 50%;
}

.user-profile-info {
    padding: 10px;
}

.user-profile-headings, .user-profile-posts {
    padding: 20px;
}

.user-profile-entries{
    margin-top:20px;
}

.user-profile-headings {
}

.user-profile-posts {
}