@using NarForumAdmin.Models.Toast
@using NarForumAdmin.Services
@inherits LayoutComponentBase
@inject AlertService AlertService
@inject ToastService ToastService;
@inject AuthorizationService authorizationService;

<Toast @ref="toast"></Toast>
<Alert Message="@alertMessage" OnClose="HideAlert" />


<div class="page">
    <AuthorizeView>
        <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        </Authorized>
    </AuthorizeView>
    <main>
        <AuthorizeView>
            <Authorized>
                <TopNavMenu />
                <article class="content px-4">
                    @Body
                </article>
            </Authorized>
            <NotAuthorized>
                <NarForumAdmin.Pages.Login></NarForumAdmin.Pages.Login>
            </NotAuthorized>
        </AuthorizeView>

    </main>
</div>

@code {
    private string alertMessage;

    Toast? toast;

    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override void OnInitialized()
    {
        ToastService.AddNotificationAction += AddNotification;

        AlertService.OnShow += ShowAlert;
        AlertService.OnHide += HideAlert;
    }

    protected async override Task OnInitializedAsync()
    {
        if (authorizationService is not null && authenticationStateTask is not null)
        {
            var authenticationState = await authenticationStateTask;

            if(authenticationState is not null)
            {
                var user = authenticationState.User;

                if (user.Identity is not null && user.Identity.IsAuthenticated)
                {
                    if (user.Identity.Name is not null)
                    {
                        await authorizationService.SetPermissions(user.Identity.Name);
                    }
                }
            }
        }

        await base.OnInitializedAsync();
    }

    private void ShowAlert(string message)
    {
        alertMessage = message;
        StateHasChanged();
    }

    private void HideAlert()
    {
        alertMessage = null;
        StateHasChanged();
    }

    public void Dispose()
    {
        AlertService.OnShow -= ShowAlert;
        AlertService.OnHide -= HideAlert;
    }

    private async void AddNotification(ToastNotification notification)
    {
        if (toast is not null)
        {
            await toast.AddToast(notification);
            await InvokeAsync(StateHasChanged);
        }
    }
}
