@using NarForumAdmin.Models.Toast
@inherits LayoutComponentBase
@inject AlertService AlertService
@inject ToastService ToastService;

<Toast @ref="toast"></Toast>
<Alert Message="@alertMessage" OnClose="HideAlert" />


<div class="page">
    
    <AuthorizeView>
        <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        </Authorized>
    </AuthorizeView>
    <main>
        <AuthorizeView>
            <Authorized>
                <TopNavMenu />
                <article class="content px-4">
                    @Body
                </article>
            </Authorized>
            <NotAuthorized>
                <NarForumAdmin.Pages.Login></NarForumAdmin.Pages.Login>
            </NotAuthorized>
        </AuthorizeView>

    </main>
</div>

@code {
    private string alertMessage;

    Toast? toast;

    protected override void OnInitialized()
    {
        ToastService.AddNotificationAction += AddNotification;

        AlertService.OnShow += ShowAlert;
        AlertService.OnHide += HideAlert;
    }

    private void ShowAlert(string message)
    {
        alertMessage = message;
        StateHasChanged();
    }

    private void HideAlert()
    {
        alertMessage = null;
        StateHasChanged();
    }

    public void Dispose()
    {
        AlertService.OnShow -= ShowAlert;
        AlertService.OnHide -= HideAlert;
    }

    private async void AddNotification(ToastNotification notification)
    {
        if (toast is not null)
        {
            await toast.AddToast(notification);
            await InvokeAsync(StateHasChanged);
        }
    }
}
