<Modal @ref="modal" ModalTitle="Add Section" Callback="@HandleRegister">
    <EditForm Model="@Model" OnValidSubmit="HandleRegister">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label asp-for="Name" class="control-label">Section Name</label>
            <InputText id="Name" class="form-control" @bind-Value="@Model.Name"></InputText>
            <ValidationMessage For="@(() => Model.Name)" />
        </div>
    </EditForm>
</Modal>

@code {
    Modal? modal;

    public SectionVM Model { get; set; }

    [Inject]
    private ISectionService SectionService { get; set; }


    [Parameter]
    public EventCallback<int> Callback { get; set; }


    protected override void OnInitialized()
    {
        Model = new SectionVM();
    }

    public void ShowModal()
    {
        modal?.ShowModal();
    }

    public void CloseModal()
    {
        modal?.CloseModal();
    }

    protected async Task HandleRegister()
    {
        SectionVM? sectionVM;

        sectionVM = new SectionVM
        {
            Name = Model.Name,
        };

        var result = await SectionService.CreateSection(sectionVM);

        await Callback.InvokeAsync();

        CloseModal();
    }
}