@page "/category/{CategoryName}/{FriendlyUrl}-{HeadingId:int}"

<p>Heading Detail</p>

@if(Posts != null)
{
    @foreach (var post in Posts)
    {
        <PostCard Id="@post.Id.ToString()" Content="@post.Content"></PostCard>
    }
}
else
{
    <p>Loading...</p>
}


@code {
    [Parameter]
    public string CategoryName { get; set; }

    [Parameter]
    public string FriendlyUrl { get; set; }

    [Parameter]
    public int HeadingId { get; set; }

    [Inject]
    public IPostService PostService { get; set; }

    public List<PostVM>? Posts { get; private set; }

    protected async override Task OnInitializedAsync()
    {
        // get posts by id
        Posts = await PostService.GetPostsByHeadingId(HeadingId);
    }
}
