@using NarForumAdmin.Models.Heading
@using NarForumAdmin.Services.UI
<Modal @ref="modal" ModalTitle="Update Heading" Callback="@HandleUpdate">
    @if (Model is not null)
    {
        <EditForm Model="@Model" OnValidSubmit="HandleUpdate">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Title</label>
                <InputText id="Name" class="form-control" @bind-Value="@Model.Title"></InputText>
                <ValidationMessage For="@(() => Model.Title)" />
            </div>
        </EditForm>
    }
</Modal>

@code {
    Modal? modal;

    [Parameter]
    public HeadingVM? Model { get; set; }

    [Inject]
    private IHeadingService? HeadingService { get; set; }

    [Parameter]
    public EventCallback<int> Callback { get; set; }

    protected override void OnInitialized()
    {

    }

    public void ShowModal()
    {
        modal?.ShowModal();
    }

    public void CloseModal()
    {
        modal?.CloseModal();
    }

    protected async Task HandleUpdate()
    {
        if (Model is not null && HeadingService is not null)
        {
            UpdateHeadingCommandVM command = new UpdateHeadingCommandVM
            {
                Id = Model.Id,
                Title = Model.Title,
                CategoryId = Model.CategoryId,
            };

            var response = await HeadingService.UpdateHeading(command);

            if (response.IsSuccess)
            {
                ToastService!.CreateSuccessToast("Updated Heading", "Heading is updated successfully");
                // updated
                if (Callback.HasDelegate)
                {
                    await Callback.InvokeAsync();
                }

                CloseModal();
            }
            else
            {
                ToastService!.CreateErrorToast("Error while updating Heading", "Heading is updated successfully");
            }
        }
    }
}
