<article class="card mb-4 custom-mini-post">
    <header class="card-header border-0 bg-transparent align-items-center">
        <span class="skeleton no-image-user-profile-post skeleton-mini-user-profile">
        </span>
        <span class="skeleton skeleton-username"></span>
        
        <span class="ms-3 small text-muted custom-mini-post-date skeleton skeleton-date"></span>
    </header>
    <div class="card-body custom-mini-post-content">
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
    </div>
    <footer class="card-footer custom-mini-post-footer border-0 p-3">
        
    </footer>
</article>

@code {

}
