.current-category-card-body {
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background: #34485f;
    font-size: 0.9em;
    font-weight: 600;
    color: #eaeaea;
    align-items: center;
    border-radius: 5px;
}

.sort-by-dropdown a {
    font-size: 12px;
    text-decoration:none;
    color: #333;
}

.page-search-heading-dropdown {
    padding: 10px;
    font-size: 0.9em;
    color: #eaeaea;
    background: #34485f;
    width: 20%;
}

