@page "/"
@using BlazorUI.Models.Section
@using BlazorUI.Pages.Sections;

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <SectionList></SectionList>
    </Authorized>
    <NotAuthorized>
@*      <button class="btn btn-success" @onclick="GoToLogin">Login</button>
        ||
        <button class="btn btn-primary" @onclick="GoToRegister">Register</button> *@
        <SectionList></SectionList>
    </NotAuthorized>
</AuthorizeView>