<div class="row sidebar-component-container mb-3">
    <h3 class="sidebar-title">Stats</h3>
    <div class="stat-grid">
        <div class="stat-box">
            <span class="stat-title">Categories</span>
            <span class="stat-counter">12</span>
        </div>
        <div class="stat-box">
            <span class="stat-title">Headings</span>
            <span class="stat-counter">12</span>
        </div>
        <div class="stat-box">
            <span class="stat-title">Posts</span>
            <span class="stat-counter">12</span>
        </div>
        <div class="stat-box">
            <span class="stat-title">Users</span>
            <span class="stat-counter">12</span>
        </div>
    </div>
</div>

@code {

}
