@using NarForumUser.Client.Models.Stat
<div class="row sidebar-component-container mb-3">
    <h3 class="sidebar-title">Stats</h3>
    <div class="stat-grid">
        <div class="stat-box">
            <span class="stat-title">Categories</span>
            <span class="stat-counter">@allStats.CategoryStats.TotalCount</span>
        </div>
        <div class="stat-box">
            <span class="stat-title">Headings</span>
            <span class="stat-counter">@allStats.HeadingStats.TotalCount</span>
        </div>
        <div class="stat-box">
            <span class="stat-title">Posts</span>
            <span class="stat-counter">@allStats.PostStats.TotalCount</span>
        </div>
        <div class="stat-box">
            <span class="stat-title">Users</span>
            <span class="stat-counter">@allStats.UserStats.TotalCount</span>
        </div>
    </div>
</div>

@code {
    [Inject]
    public IForumStatService forumStatService { get; set; }
    AllStatsResponseVM? allStats { get; set; } = new AllStatsResponseVM();

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            allStats = await forumStatService.GetAllStats();
            await InvokeAsync(StateHasChanged);
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
