@using BlazorUI.Models.Category
@using BlazorUI.Pages.Category.Modal;
@using BlazorUI.Services.UI




<div class="row">
    <div class="col-12 text-end">
        <AuthorizeView>
            <Authorized>
                <a href="/" @onclick="OpenModal" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Add Category</a>
            </Authorized>
        </AuthorizeView>
    </div>
</div>


<div class="row section-card-body">
    <div class="col-sm-4">
        @Model.Name
    </div>
    <div class="col-sm-2">
        Headings
    </div>
    <div class="col-sm-2">
        Posts
    </div>
    <div class="col-sm-4">
        Last Post
    </div>

</div>

<div class="row current-category-card-body">
    
</div>

@if(Categories == null)
{
    <p>Not Found Categories</p>
}
else
{
    @foreach (var category in Categories)
    {
        <CategoryCard Model="category"></CategoryCard>
    }
}


<AddCategoryModal @ref="addCategoryModal" SectionVM="@Model" Callback="Refresh"></AddCategoryModal>

@code {
    [Parameter]
    public SectionVM Model { get; set; }

    [Parameter]
    public List<CategoryVM>? Categories { get; set; }

    AddCategoryModal? addCategoryModal;

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Inject] 
    RefreshStateService RefreshStateService { get; set; }


    private void OpenModal()
    {
        addCategoryModal?.ShowModal();
    }

    private async Task Refresh()
    {
        RefreshStateService.RefreshSectionList();
    }

    
}
