<div class="row section-card-body">
    <div class="col-6">@Name</div>
    <div class="col-6 text-end">
        <a href="/" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Add Category</a>
    </div>
</div>


@code {
    [Parameter]
    public string Name { get; set; } = string.Empty;
}
