.section-card-body {
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background: #34485f;
    font-size: 0.9em;
    font-weight: 600;
    color: #eaeaea;
    border-radius: 5px;
}
