@using GurbForumUser.Client.Services
@inherits LayoutComponentBase

@if(!isBot)
{
    @inject AuthorizationService authorizationService;
}

<div class="page h-100">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>

         <TopNavMenu />

@*         <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <div class="container custom-container">
            <div class="row">
@*                 <div class="col-sm-2">
                    
                </div> *@
                <div class="col-sm-9">
                    <article>
                        @if(isBot)
                        {
                            @Body
                        }
                        else
                        {
                            <ErrorBoundary Context="exception" @ref="_errorBoundary">
                                <ChildContent>
                                    @Body
                                </ChildContent>
                                <ErrorContent>
                                    @if ((exception as GurbForumUser.Client.Services.Base.ApiException).StatusCode == 401)
                                    {
                                        <GurbForumUser.Client.Pages.ErrorPages.Page401></GurbForumUser.Client.Pages.ErrorPages.Page401>
                                    }
                                    else if ((exception as GurbForumUser.Client.Services.Base.ApiException).StatusCode == 500)
                                    {
                                        <GurbForumUser.Client.Pages.ErrorPages.Page500></GurbForumUser.Client.Pages.ErrorPages.Page500>
                                    }
                                    else if ((exception as GurbForumUser.Client.Services.Base.ApiException).StatusCode == 204)
                                    {
                                        <GurbForumUser.Client.Pages.ErrorPages.Page204></GurbForumUser.Client.Pages.ErrorPages.Page204>
                                    }
                                    else
                                    {
                                        <p class="fw-bold text-danger">@exception.Message</p>
                                    }
                                </ErrorContent>
                            </ErrorBoundary>
                        }
                    </article>
                    <ConsentCookie/>
                </div>
                 <div class="col-sm-3 sidebar-container">
                     <SideBar></SideBar>
                </div>
            </div>
            
        </div>
        <Footer></Footer>
    </main>
</div>


@code {
    [CascadingParameter]
    public bool isBot { get; set; }
    private ErrorBoundary? _errorBoundary;

    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if(!isBot)
        {
            var authState = await authenticationStateTask;
            var user = authState.User;
            string username = string.Empty;
            if (user.Identity.IsAuthenticated)
            {
                username = user.Identity.Name;

                if (authorizationService is not null)
                {
                    await authorizationService.SetPermissions(username);
                }
            }

            await base.OnInitializedAsync();
        }
        
    }

    protected override void OnParametersSet()
    {
        _errorBoundary?.Recover();
    }
}