<div class="row current-category-card-body">
    <div class="col-6">
        Headings
    </div>
    @if (min768)
    {
        <div class="col-2">
            Posts
        </div>
    }
    <div class="col-4" style="display:flex;align-items:center;justify-content:space-between">
        Last Post
    </div>
</div>

@code {
    [Parameter]
    public bool min768 { get; set; } = true;
}
