<div class="row category-card-body align-items-center">
    <div class="col-sm-6 d-flex align-items-center">
        <div class="skeleton skeleton-text skeleton-w5"></div>
    </div>
    @if (ShowNumber)
    {
        <div class="col-sm-1 category-card-heading-counter">
            <div class="skeleton skeleton-text skeleton-w3"></div>
        </div>
        <div class="col-sm-1 category-card-post-counter">
            <div class="skeleton skeleton-text skeleton-w3"></div>
        </div>
        <div class="col-sm-4 last-post-summary">
            <div class="skeleton skeleton-text skeleton-w3"></div>
        </div>
    }
</div>


@code {
    [Parameter]
    public bool ShowNumber { get; set; } = true;
}
