<nav class="breadcrumb-divider" aria-label="breadcrumb">
    <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="skeleton skeleton-breadcrumb"></a></li>
            <li class="breadcrumb-item"><a class="skeleton skeleton-breadcrumb"></a></li>
            <li class="breadcrumb-item"><a class="skeleton skeleton-breadcrumb"></a></li>
    </ol>
</nav>

@code {

}
