<div class="row post-card-link-body align-items-center">
    <div class="col-sm-12 post-link-text-area">
        <i class="bi bi-sticky" style="font-size:1.5em;margin-right:20px;"></i> 
        <a href="@url" class="link-post-primary link-post-primary-color link-offset-2 link-underline-opacity-100 link-underline-opacity-100-hover">@Model.HeadingTitle</a>
    </div>

</div>

@code {
    

    [Parameter]
    public PostVM Model { get; set; }

    [Parameter]
    public string CategoryName { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    string url { get { return $"/category/{Model.CategoryName.ToFriendlyUrl()}-{Model.CategoryIntId}/{Model.HeadingId.EncodeGuidToBase64Url()}/{Model.HeadingTitle.ToFriendlyUrl()}/{Model.PageIndex}/post-{Model.HeadingIndex}"; } }
}

