@inject IConfiguration Configuration
<footer class="container-fluid mt-auto forum-footer">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3 mt-1">
                <Logo LogoId="forum-logo-footer"  LogoVM="logoVM"></Logo>
                <small class="d-block mb-3 text-muted">Copyright © 2024–2024</small>
                <div class="footer-description">
                    @Configuration["FooterDescription"]
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 mt-1">
               
            </div>
            <div class="col-12 col-sm-12 col-md-3 mt-1">

            </div>
            <div class="col-12 col-sm-12 col-md-3 mt-1">
                <h5 class="footer-title">Pages</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="page/about">About</a></li>
                    <li><a class="link-secondary" href="contact">Contact</a></li>
                    <li><a class="link-secondary" href="blog">Blog</a></li>
                    <li><a class="link-secondary" href="page/terms-of-service">Terms</a></li>
                    <li><a class="link-secondary" href="page/privacy-policy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

@code {
    LogoVM logoVM = new LogoVM
    {
        AltText = "gurbforum",
        Text = "gurbforum",
    };
}
