@using NarForumAdmin.Models.Authorization.Role
<Modal @ref="modal" ModalTitle="Detail Role">
    @if (Model is not null)
    {
        <table class="table table-bordered table-hover caption-top forum-table">
            <thead>
                <tr>
                    <th style="width:50%">Field</th>
                    <th style="width:50%">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle">Id</td>
                    <td class="align-middle">@Model.Id</td>
                </tr>
                <tr>
                    <td class="align-middle">Name</td>
                    <td class="align-middle">@Model.Name</td>
                </tr>
                <tr>
                    <td class="align-middle">Normalized Name</td>
                    <td class="align-middle">@Model.NormalizedName</td>
                </tr>
            </tbody>
        </table>
    }
</Modal>

@code {
    Modal? modal;

    [Parameter]
    public RoleVM? Model { get; set; }

    [Parameter]
    public EventCallback<int> Callback { get; set; }

    protected override void OnInitialized()
    {

    }

    public void ShowModal()
    {
        modal?.ShowModal();
    }

    public void CloseModal()
    {
        modal?.CloseModal();
    }
}