<h3 class="filter-header">Filter</h3>

@if (QueryModel != null)
{
    <EditForm Model="@QueryModel" OnValidSubmit="HandleQuery">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <InputText id="title" class="form-control" placeholder="search title" @bind-Value="@QueryModel.SearchTitle" autocomplete="off"></InputText>
                    <ValidationMessage For="@(() => QueryModel.SearchTitle)" />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-9">
            </div>
            <div class="col-sm-3 text-end">
                <div class="form-group">
                    <input type="submit" value="Filter" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </EditForm>
}


@code {
    [Parameter]
    public GetStaticPagesWithPaginationQueryVM? QueryModel { get; set; }

    [Parameter]
    public EventCallback<int> Callback { get; set; }

    private void OnChangeCategory()
    {

    }

    protected async Task HandleQuery()
    {
        if (Callback.HasDelegate)
        {
            await Callback.InvokeAsync();
        }
    }
}

