@inherits LayoutComponentBase
<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>

         <TopNavMenu />

@*         <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <div class="container custom-container">
            <div class="row">
@*                 <div class="col-sm-2">
                    
                </div> *@
                <div class="col-sm-9">
                    <article>
                        @Body
                    </article>
                    <ConsentCookie/>
                </div>
                 <div class="col-sm-3 sidebar-container">
                     <SideBar></SideBar>
                </div>
            </div>
            
        </div>
    </main>
</div>
