@using NarForumUser.Client.Models.BlogCategory

<h3 class="blog-sidebar-title">Blog Categories</h3>

@if (isLoading)
{
    
}
else
{
    <ul class="list-group list-group-flush">
        
        @if(BlogCategories is not null)
        {
            @foreach (var category in BlogCategories)
            {
                <li class="list-group-item"><a href="@BlogCategoryUrl(category.Name)">@category.Name</a></li>
            }
        }
    </ul>
}

@code {
    [Inject]
    public IBlogCategoryService? BlogCategoryService { get; set; }

    public List<BlogCategoryVM>? BlogCategories { get; set; }

    bool isLoading = true;

    private string BlogCategoryUrl(string category)
    {
        return $"blog/{category.ToFriendlyUrl()}";
    }

    protected async override Task OnInitializedAsync()
    {
        if(BlogCategoryService is not null)
        {
            var request = new GetBlogCategoriesQueryVM();

            BlogCategories = await BlogCategoryService.GetBlogCategories(request);

            if(BlogCategories is not null)
            {
                isLoading = false;
            }
        }
    }
}
