<div class="col-sm-12 blog-post-card">
    <h3 class="blog-post-card-title skeleton skeleton-h1"></h3>
    <div class="blog-post-card-content">
        <SkeletonText></SkeletonText>
        <SkeletonText></SkeletonText>
        <SkeletonText></SkeletonText>
    </div>
    <div class="blog-post-card-footer">
        <span class="blog-post-card-author skeleton skeleton-text skeleton-w3 skeleton-h5 skeleton-blog-span"></span>
        <span class="blog-post-card-category skeleton skeleton-text skeleton-w3 skeleton-h5 skeleton-blog-span"></span>
        <span class="blog-post-card-viewcounter skeleton skeleton-text skeleton-w1 skeleton-h5 skeleton-blog-span"></span>
        <span class="blog-post-card-comment skeleton skeleton-text skeleton-w1 skeleton-h5 skeleton-blog-span"></span>
        <span class="blog-post-card-date skeleton skeleton-text skeleton-w3 skeleton-h5 skeleton-blog-span"></span>
    </div>
</div>

@code {

}
