<div class="row section-card-body">
    <div class="col-sm-6">
        <div class="skeleton skeleton-text skeleton-w5"></div>
    </div>
    @if (min768)
    {
        <div class="col-sm-1">
            Headings
        </div>
        <div class="col-sm-1">
            Posts
        </div>
        <div class="col-sm-4">
            Last Post
        </div>
    }
</div>

@code {
    [Parameter]
    public bool min768 { get; set; } = true;
}
