@page "/reset-password"

<main class="form-signin">
    @if (string.IsNullOrEmpty(Message) == false)
    {
        <div class="alert alert-danger">
            @Message
        </div>
    }

    <EditForm Model="@Model" OnValidSubmit="SendResetRequest">
        @* <Logo LogoVM="LogoVM" LogoId="forum-logo-login"></Logo> *@
        <h1 class="h5 mb-3 fw-normal text-center">Forgot password?</h1>
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label class="control-label">Email</label>
            <InputText id="userName" class="form-control" @bind-Value="@Model.Email"></InputText>
            <ValidationMessage For="@(() => Model.Email)" />
        </div>

        <button class="w-100 btn btn-forum mt-2 fw-normal" type="submit">Send</button>
        <p class="mt-5 mb-3 text-muted">Enter your email and we will send you a link in the message to reset your password if it does exist.</p>
    </EditForm>
</main>


@code {
    ResetPasswordRequestVM Model = new ResetPasswordRequestVM();

    private string Message { get; set; }


    private async Task SendResetRequest()
    {
        
    }
}

