@page "/reset-password"

<main class="form-signin">
    @if (string.IsNullOrEmpty(ErrorMessage) == false)
    {
        <div class="alert alert-danger">
            @ErrorMessage
        </div>
    }
    @if (string.IsNullOrEmpty(Message) == false)
    {
        <div class="alert alert-success">
            @Message
        </div>
    }
    @if(!SentReset)
    {
        <EditForm Model="@Model" OnValidSubmit="SendResetRequest">
            @* <Logo LogoVM="LogoVM" LogoId="forum-logo-login"></Logo> *@
            <h1 class="h5 mb-3 fw-normal text-center">Forgot password?</h1>
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label class="control-label">Email</label>
                <InputText id="userName" class="form-control" @bind-Value="@Model.Email"></InputText>
                <ValidationMessage For="@(() => Model.Email)" />
            </div>

            <button class="w-100 btn btn-forum mt-2 fw-normal" type="submit">Send</button>
            <p class="mt-5 mb-3 text-muted">Enter your email and we will send you a link in the message to reset your password if it does exist.</p>
        </EditForm>
    }
    else
    {
        <div class="row">
            <div class="reset-password-request-container">
                <h2>Password request sent your email address.</h2>
                <p>Please check your email address.</p>
            </div>
        </div>
    }
</main>


@code {
    ResetPasswordRequestVM Model = new ResetPasswordRequestVM();

    private string Message { get; set; }
    private string ErrorMessage { get; set; }


    [Inject]
    private IUserService? UserService { get; set; }

    public bool SentReset { get; set; }

    protected override void OnInitialized()
    {
        SentReset = false;
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        SentReset = false;
        base.OnParametersSet();
    }

    private async Task SendResetRequest()
    {
        if(UserService is not null)
        {
            Message = string.Empty;
            var response = await UserService.CreateResetPasswordRequest(Model);

            if(response.IsSuccess)
            {
                Model = new ResetPasswordRequestVM();
                SentReset = true;
                Message = response.Message;
            }
            else
            {
                ErrorMessage = response.Message;
            }
        }
    }
}

