@inject IJSRuntime JS
@implements IAsyncDisposable

<h3>NewUserStatView</h3>


<canvas id="newUserStatViewChart"></canvas>


@code {
	private IJSInProcessObjectReference? module;


	protected async override Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);
		if (firstRender)
		{
			module = await JS.InvokeAsync<IJSInProcessObjectReference>("import", "./Pages/Charts/NewUserStatView.razor.js");
			await module.InvokeVoidAsync("drawNewUserStatViewChart");
		}
	}

	async ValueTask IAsyncDisposable.DisposeAsync()
	{
		if (module is not null)
		{
			await module.DisposeAsync();
		}
	}
}