@using System.Globalization
@using System.Diagnostics
@inject IJSRuntime JS
@implements IAsyncDisposable

<div class="chart-stat-component">
	<div class="dashboard-stat-head-area">
		<h3 class="dashboard-stat-title">Total Views</h3>
		<SelectDate 
			ChangeTimeCallback="OnChangeTime"
			ChangeDayCallback="OnChangeDayDate"
			ChangeWeekCallback="OnChangeWeekDate"
			ChangeMonthCallback="OnChangeMonthDate"
			ChangeYearCallback="OnChangeYearDate">
		</SelectDate>
	</div>
	<canvas id="totalViewChart"></canvas>
</div>



@code {
	private IJSInProcessObjectReference? module;

	private string? ClientTimeZone { get; set; }

	[Inject]
	public ITrackingLogService? TrackingLogService { get; set; }

	private string SelectedTime { get; set; } = "Day";


	private static int GetWeek
	{
		get
		{
			Calendar calendar = CultureInfo.CurrentCulture.Calendar;
			CalendarWeekRule weekRule = CultureInfo.CurrentCulture.DateTimeFormat.CalendarWeekRule;
			DayOfWeek firstDayOfWeek = CultureInfo.CurrentCulture.DateTimeFormat.FirstDayOfWeek;

			int weekNumber = calendar.GetWeekOfYear(DateTime.UtcNow, weekRule, firstDayOfWeek);

			return weekNumber;
		}
	}






	private List<TrackingLogVM>? logs { get; set; }

	protected async override Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);

		ClientTimeZone = await JS.InvokeAsync<string>("GetTimeZone");

		logs = new List<TrackingLogVM>();

		if (firstRender)
		{
			module = await JS.InvokeAsync<IJSInProcessObjectReference>("import", "./Pages/Charts/TotalView.razor.js");

			if(TrackingLogService is not null)
			{
				GetTrackingLogsQueryVM query = new GetTrackingLogsQueryVM
				{
						TimeZone = ClientTimeZone
				};

				logs = await TrackingLogService.GetTrackingLogs(query);


				if(logs is not null)
				{
					var dayAnonLogs = ConvertTrackingLogsToDay(logs.Where(x => x.IsMember == false).ToList());
					var dayMemLogs = ConvertTrackingLogsToDay(logs.Where(x => x.IsMember == true).ToList());
					await module.InvokeVoidAsync("drawTotalViewChart", "Day", dayAnonLogs, dayMemLogs);
				}

			}
		}
	}

	private async void OnChangeTime(string selectedTime)
	{
		SelectedTime = selectedTime;
		if (TrackingLogService is not null)
		{
			GetTrackingLogsQueryVM query = new GetTrackingLogsQueryVM
			{
				TimeZone = ClientTimeZone
			};


			if(SelectedTime == "Day")
			{
				query.DateType = Models.Enums.TrackingLogDateType.DAY;
				query.DateTime = DateTime.UtcNow;
			}

			if(SelectedTime == "Week")
			{
				query.DateType = Models.Enums.TrackingLogDateType.WEEK;
				query.DateTime = DateTime.SpecifyKind(GetDateFromIsoWeek($"{DateTime.UtcNow.Year.ToString()}-W{GetWeek}"), DateTimeKind.Utc);
			}

			if (SelectedTime == "Month")
			{
				query.DateType = Models.Enums.TrackingLogDateType.MONTH;
				query.DateTime = DateTime.UtcNow;
			}

			if (SelectedTime == "Year")
			{
				query.DateType = Models.Enums.TrackingLogDateType.YEAR;
				query.DateTime = DateTime.UtcNow;
			}

			logs = await TrackingLogService.GetTrackingLogs(query);


			if (logs is not null && module is not null)
			{

				if(query.DateType == Models.Enums.TrackingLogDateType.DAY)
				{
					var dayAnonLogs = ConvertTrackingLogsToDay(logs.Where(x => x.IsMember == false).ToList());
					var dayMemLogs = ConvertTrackingLogsToDay(logs.Where(x => x.IsMember == true).ToList());
					await module.InvokeVoidAsync("drawTotalViewChart", SelectedTime, dayAnonLogs, dayMemLogs);
				}
				if (query.DateType == Models.Enums.TrackingLogDateType.WEEK)
				{
					var weekAnonLogs = ConvertTrackingLogsToWeek(logs.Where(x => x.IsMember == false).ToList());
					var weekMemLogs = ConvertTrackingLogsToWeek(logs.Where(x => x.IsMember == true).ToList());
					await module.InvokeVoidAsync("drawTotalViewChart", SelectedTime, weekAnonLogs, weekMemLogs);
				}
				if (query.DateType == Models.Enums.TrackingLogDateType.MONTH)
				{
					var monthAnonLogs = ConvertTrackingLogsToMonth(logs.Where(x => x.IsMember == false).ToList());
					var monthMemLogs = ConvertTrackingLogsToMonth(logs.Where(x => x.IsMember == true).ToList());
					await module.InvokeVoidAsync("drawTotalViewChart", SelectedTime, monthAnonLogs, monthMemLogs);
				}
				if (query.DateType == Models.Enums.TrackingLogDateType.YEAR)
				{
					var yearAnonLogs = ConvertTrackingLogsToYear(logs.Where(x => x.IsMember == false).ToList());
					var yearMemLogs = ConvertTrackingLogsToYear(logs.Where(x => x.IsMember == true).ToList());
					await module.InvokeVoidAsync("drawTotalViewChart", SelectedTime, yearAnonLogs, yearMemLogs);
				}

			}

		}
	}

	public async Task OnChangeDayDate(DateTime selectedDay)
	{
		// overrideStart = await GetStartOfWeek(overrideStart);
		if (TrackingLogService is not null)
		{
			GetTrackingLogsQueryVM query = new GetTrackingLogsQueryVM
			{
				TimeZone = ClientTimeZone,
				DateTime = DateTime.SpecifyKind(selectedDay, DateTimeKind.Utc),
				DateType = Models.Enums.TrackingLogDateType.DAY
			};

			logs = await TrackingLogService.GetTrackingLogs(query);

			if (logs is not null && module is not null)
			{
				var dayAnonLogs = ConvertTrackingLogsToDay(logs.Where(x => x.IsMember == false).ToList());
				var dayMemLogs = ConvertTrackingLogsToDay(logs.Where(x => x.IsMember == true).ToList());
				await module.InvokeVoidAsync("drawTotalViewChart", SelectedTime, dayAnonLogs, dayMemLogs);
			}
		}
	}

	public async Task OnChangeWeekDate(string selectedWeek)
	{
		if (TrackingLogService is not null)
		{
			GetTrackingLogsQueryVM query = new GetTrackingLogsQueryVM
			{
				TimeZone = ClientTimeZone,
				DateTime = DateTime.SpecifyKind(GetDateFromIsoWeek(selectedWeek), DateTimeKind.Utc),
				DateType = Models.Enums.TrackingLogDateType.WEEK
			};

			logs = await TrackingLogService.GetTrackingLogs(query);

			

			if (logs is not null && module is not null)
			{
				var weekAnonLogs = ConvertTrackingLogsToWeek(logs.Where(x => x.IsMember == false).ToList());
				var weekMemLogs = ConvertTrackingLogsToWeek(logs.Where(x => x.IsMember == true).ToList());
				await module.InvokeVoidAsync("drawTotalViewChart", SelectedTime, weekAnonLogs, weekMemLogs);
			}
		}
	}

	public async Task OnChangeMonthDate(DateTime selectedMonth)
	{
		if (TrackingLogService is not null)
		{
			GetTrackingLogsQueryVM query = new GetTrackingLogsQueryVM
			{
				TimeZone = ClientTimeZone,
				DateTime = DateTime.SpecifyKind(selectedMonth, DateTimeKind.Utc),
				DateType = Models.Enums.TrackingLogDateType.MONTH
			};

			logs = await TrackingLogService.GetTrackingLogs(query);

			if (logs is not null && module is not null)
			{
				var monthAnonLogs = ConvertTrackingLogsToMonth(logs.Where(x => x.IsMember == false).ToList());
				var monthMemLogs = ConvertTrackingLogsToMonth(logs.Where(x => x.IsMember == true).ToList());
				await module.InvokeVoidAsync("drawTotalViewChart", SelectedTime, monthAnonLogs, monthMemLogs);
			}
		}
	}


	public async Task OnChangeYearDate(DateTime selectedYear)
	{
		if (TrackingLogService is not null)
		{
			GetTrackingLogsQueryVM query = new GetTrackingLogsQueryVM
			{
				TimeZone = ClientTimeZone,
				DateTime = DateTime.SpecifyKind(selectedYear, DateTimeKind.Utc),
				DateType = Models.Enums.TrackingLogDateType.YEAR
			};

			logs = await TrackingLogService.GetTrackingLogs(query);

			if (logs is not null && module is not null)
			{
				var yearAnonLogs = ConvertTrackingLogsToYear(logs.Where(x => x.IsMember == false).ToList());
				var yearMemLogs = ConvertTrackingLogsToYear(logs.Where(x => x.IsMember == true).ToList());
				await module.InvokeVoidAsync("drawTotalViewChart", SelectedTime, yearAnonLogs, yearMemLogs);
			}
		}
	}


	async ValueTask IAsyncDisposable.DisposeAsync()
	{
		if (module is not null)
		{
			await module.DisposeAsync();
		}
	}


	private ValueTask<DateTime> GetStartOfWeek(DateTime date)
	{
		return ValueTask.FromResult(date.AddDays(-(int)date.DayOfWeek));
	}

	private Dictionary<string, int> ConvertTrackingLogsToDay(List<TrackingLogVM> logs)
	{
		Dictionary<string, int> dayTimeLogs = new Dictionary<string, int>();

		foreach(var log in logs)
		{
			string dayLogKey = log.DateTime.ToLocalTime().ToString("hhtt");

			if (dayTimeLogs.ContainsKey(dayLogKey))
			{
				dayTimeLogs[dayLogKey] += 1;
			}
			else
			{
				dayTimeLogs[dayLogKey] = 1;
			}
		}

		return dayTimeLogs;

	}

	private Dictionary<string, int> ConvertTrackingLogsToWeek(List<TrackingLogVM> logs)
	{
		Dictionary<string, int> weekTimeLogs = new Dictionary<string, int>();

		foreach (var log in logs)
		{
			string day = "";
			var dayOfWeek = log.DateTime.DayOfWeek;

			if (dayOfWeek == DayOfWeek.Monday)
			{
				day = "Mon";
			}
			if (dayOfWeek == DayOfWeek.Tuesday)
			{
				day = "Tue";
			}
			if (dayOfWeek == DayOfWeek.Wednesday)
			{
				day = "Wed";
			}
			if (dayOfWeek == DayOfWeek.Thursday)
			{
				day = "Thu";
			}
			if (dayOfWeek == DayOfWeek.Friday)
			{
				day = "Fri";
			}
			if (dayOfWeek == DayOfWeek.Saturday)
			{
				day = "Sat";
			}

			if (dayOfWeek == DayOfWeek.Sunday)
			{
				day = "Sun";
			}

			if (weekTimeLogs.ContainsKey(day))
			{
				weekTimeLogs[day] += 1;
			}
			else
			{
				weekTimeLogs[day] = 1;
			}
		}

		return weekTimeLogs;

	}

	private Dictionary<string, int> ConvertTrackingLogsToMonth(List<TrackingLogVM> logs)
	{
		Dictionary<string, int> monthTimeLogs = new Dictionary<string, int>();

		foreach (var log in logs)
		{
			string monthLogKey = log.DateTime.ToString("dd");

			if (monthTimeLogs.ContainsKey(monthLogKey))
			{
				monthTimeLogs[monthLogKey] += 1;
			}
			else
			{
				monthTimeLogs[monthLogKey] = 1;
			}
		}

		return monthTimeLogs;

	}

	private Dictionary<string, int> ConvertTrackingLogsToYear(List<TrackingLogVM> logs)
	{
		Dictionary<string, int> yearTimeLogs = new Dictionary<string, int>();

		foreach (var log in logs)
		{
			string yearMonth = log.DateTime.Month.ToString();
			string yearLogKey = "";

			if (yearMonth == "1")
			{
				yearLogKey = "Jan";
			}
			if (yearMonth == "2")
			{
				yearLogKey = "Feb";
			}
			if (yearMonth == "3")
			{
				yearLogKey = "Mar";
			}
			if (yearMonth == "4")
			{
				yearLogKey = "Apr";
			}
			if (yearMonth == "5")
			{
				yearLogKey = "May";
			}
			if (yearMonth == "6")
			{
				yearLogKey = "Jun";
			}
			if (yearMonth == "7")
			{
				yearLogKey = "Jul";
			}
			if (yearMonth == "8")
			{
				yearLogKey = "Aug";
			}
			if (yearMonth == "9")
			{
				yearLogKey = "Sep";
			}
			if (yearMonth == "10")
			{
				yearLogKey = "Oct";
			}
			if (yearMonth == "11")
			{
				yearLogKey = "Nov";
			}
			if (yearMonth == "12")
			{
				yearLogKey = "Dec";
			}

			if (yearTimeLogs.ContainsKey(yearLogKey))
			{
				yearTimeLogs[yearLogKey] += 1;
			}
			else
			{
				yearTimeLogs[yearLogKey] = 1;
			}
		}

		return yearTimeLogs;

	}


	public DateTime GetDateFromIsoWeek(string isoWeek)
	{
		var parts = isoWeek.Split(new[] { "-W" }, StringSplitOptions.None);
		int year = int.Parse(parts[0]);
		int week = int.Parse(parts[1]);

		DateTime jan1 = new DateTime(year, 1, 1);
		int daysOffset = DayOfWeek.Thursday - jan1.DayOfWeek;

		DateTime firstThursday = jan1.AddDays(daysOffset);
		var cal = CultureInfo.CurrentCulture.Calendar;
		int firstWeek = cal.GetWeekOfYear(firstThursday, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday);

		var weekNum = week;

		if (firstWeek == 1)
		{
			weekNum -= 1;
		}

		var result = firstThursday.AddDays(weekNum * 7);

		return result.AddDays(-3);
	}
}
