
<div class="row">
    <div class="col-sm-8">
        <div class="row dashboard-row">
            <h3 class="dashboard-row-title">Forum Data</h3>
        </div>
        <div class="row dashboard-row">
            <div class="col-sm-4">
                <DashboardCard Name="Categories" Icon="tag" Url="category/list"></DashboardCard>
            </div>
            <div class="col-sm-4">
                <DashboardCard Name="Headings" Icon="card-heading" Url="heading/list"></DashboardCard>
            </div>
            <div class="col-sm-4">
                <DashboardCard Name="Posts" Icon="file-post" Url="post/list"></DashboardCard>
            </div>
        </div>
        <div class="row dashboard-row">
            <div class="col-sm-4">
                <DashboardCard Name="Sections" Icon="tag" Url="section/list"></DashboardCard>
            </div>
        </div>

        <div class="row dashboard-row">
            <h3 class="dashboard-row-title">User Management</h3>
        </div>
        <div class="row dashboard-row">
            <div class="col-sm-4">
                <DashboardCard Name="Users" Icon="people-fill" Url="user/list"></DashboardCard>
            </div>
            <div class="col-sm-4">
                <DashboardCard Name="Authorization" Icon="key" Url="authorization"></DashboardCard>
            </div>
        </div>

        <div class="row dashboard-row">
            <h3 class="dashboard-row-title">Contact</h3>
        </div>
        <div class="row dashboard-row">
            <div class="col-sm-4">
                <DashboardCard Name="General Chat" Icon="chat-left-text"></DashboardCard>
            </div>
            <div class="col-sm-4">
                <DashboardCard Name="Feedbacks" Icon="envelope-exclamation-fill"></DashboardCard>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <!-- statistics ->
        </div>
    </div>
</div>


@code {

}
