@page "/"

@using AdminUI.Models.Section

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <Dashboard></Dashboard>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-success" @onclick="GoToLogin">Login</button>
        ||
        <button class="btn btn-primary" @onclick="GoToRegister">Register</button>
    </NotAuthorized>
</AuthorizeView>

