@using NarForumAdmin.Models.Enums
<h3>Language</h3>







@code {
    private LangTypeVM SelectedLang { get; set; }

    protected async Task GetLanguage()
    {
        
    }

    protected async Task UpdateLanguage()
    {
        
    }

    protected async Task CreateLanguage()
    {
        
    }
}
