@inherits LayoutComponentBase
@inject AlertService AlertService

<Alert Message="@alertMessage" OnClose="HideAlert" />


<div class="page">
    
    <AuthorizeView>
        <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        </Authorized>
    </AuthorizeView>
    <main>
        <AuthorizeView>
            <Authorized>
                <TopNavMenu />
            </Authorized>
        </AuthorizeView>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string alertMessage;

    protected override void OnInitialized()
    {
        AlertService.OnShow += ShowAlert;
        AlertService.OnHide += HideAlert;
    }

    private void ShowAlert(string message)
    {
        alertMessage = message;
        StateHasChanged();
    }

    private void HideAlert()
    {
        alertMessage = null;
        StateHasChanged();
    }

    public void Dispose()
    {
        AlertService.OnShow -= ShowAlert;
        AlertService.OnHide -= HideAlert;
    }
}
