@inherits LayoutComponentBase


<div class="page">
    
    <AuthorizeView>
        <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        </Authorized>
    </AuthorizeView>
    <main>
        <AuthorizeView>
            <Authorized>
                <TopNavMenu />
            </Authorized>
        </AuthorizeView>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
