.page-item {
    font-size: 0.7rem;
    border: 1px solid #ccc;
    margin-right: 5px;
    background: linear-gradient(1deg, #d5d5d5, #ffffff);
    cursor: pointer;
}

.page-item a {
    background: transparent;
    border:none;
    color:black;
}
.page-item-number {
    margin-right:0px;
}

.page-item.active .page-link {
    z-index: 3; 
    color: #fff;
    background-color: #595959;
    border-color: #595959;
}
.page-item-number:last-child {
}

.page-item-next {
    margin-left: 5px;
}
