@using NarForumAdmin.Models.Stat
<div class="card card-square" style="background:@BackgroundColor;color:@FontColor">
    <div class="card-body flex-row justify-content-center align-items-center">
        <div class="card-title">
            <i class="bi bi-@Icon"></i>
            @Name
        </div>
        <p class="card-text-stat-number">@ConvertNumberToString(TotalCounter)</p>
        @if(IsShowDayCounter)
        {
            <p class="card-text"><small style="color:@FontColor">Today: @ConvertNumberToString(DayCounter)</small></p>
        }
    </div>
</div>

@code {
    [Parameter]
    public string Url { get; set; } = string.Empty;

    [Parameter]
    public string BackgroundColor { get; set; } = "red";

    [Parameter]
    public string FontColor { get; set; } = "white";

    [Parameter]
    public string Icon { get; set; } = string.Empty;

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public int TotalCounter { get; set; } = 0;

    [Parameter]
    public int DayCounter { get; set; } = 0;

    [Parameter]
    public bool IsShowDayCounter { get; set; } = false;

    [Parameter]
    public string UpdateNote { get; set; } = string.Empty;


    public string ConvertNumberToString(int num)
    {
        if (num >= 1000000)
        {
            return (num / 1000000.0).ToString("0.#") + "M";
        }
        else if (num >= 1000)
        {
            return (num / 1000.0).ToString("0.#") + "K";
        }
        else
        {
            return num.ToString();
        }
    }
}
