a.dashboard-card-link {
    text-decoration: none;
}

.card {
    border: none;
    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.1)
}


.card-title {
    margin-bottom: 0px;
    font-size: 1.2em;
}

.dashboard-card-link a {
    text-decoration: none;
}