<!-- Components/TreeView.razor -->
@using AdminUI.Models.Common

<ul class="tree-menu">
    @foreach (var item in Items)
    {
        <li>
            <span @onclick="() => Toggle(item)">
                @if (item.Children.Any())
                {
                    <i class="bi @(item.IsExpanded ? "bi-dash-square" : "bi-plus-square") prefix-item"></i>
                }
                else
                {
                    
                }
            </span>
            <span><input class="form-check-input" type="checkbox" @bind="item.IsSelected" @oninput="()=>CheckboxChanged(item)"></span>
            <span @onclick="() => Toggle(item)" class="item-display-name">@item.DisplayName</span>
            <span class="item-code-name">@item.Name</span>
            @if (item.IsExpanded && item.Children.Any())
            {
                <TreeView Callback=Callback Items="item.Children"></TreeView>
            }
        </li>
    }
</ul>

@code {
    [Parameter]
    public List<TreeItem> Items { get; set; } = new List<TreeItem>();

    [Parameter]
    public EventCallback<string> Callback { get; set; }

    private void Toggle(TreeItem item)
    {
        item.IsExpanded = !item.IsExpanded;
    }

    private async void CheckboxChanged(TreeItem item)
    {
        item.IsSelected = !item.IsSelected;
        await Callback.InvokeAsync(item.Id);
    }
}
