ul.tree-menu {
    list-style-type: none;
    user-select: none;
}

.item-code-name {
    color: #bbb;
    padding: 10px;
}

.item-display-name {
    color: #333;
    padding:10px;
}

.prefix-item {
    margin-right: 10px;
}