<Modal @ref="modal" ModalTitle="Detail Blog Comment">
    @if (Model is not null)
    {
        <table class="table table-bordered table-hover caption-top forum-table">
            <thead>
                <tr>
                    <th class="col-6">Field</th>
                    <th class="col-6">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle">Username</td>
                    <td class="align-middle">@Model.UserName</td>
                </tr>
                <tr>
                    <td class="align-middle">Category Id</td>
                    <td class="align-middle">@Model.Content</td>
                </tr>
            </tbody>
        </table>
    }
</Modal>

@code {
    Modal? modal;

    [Parameter]
    public BlogCommentVM? Model { get; set; }

    [Parameter]
    public EventCallback<int> Callback { get; set; }

    protected override void OnInitialized()
    {

    }

    public void ShowModal()
    {
        modal?.ShowModal();
    }

    public void CloseModal()
    {
        modal?.CloseModal();
    }
}
