@if (Sections == null)
{
    <p>Loading Data...</p>
}
else
{
    <div class="container-fluid">
        @foreach (var sec in Sections)
        {
            <SectionCard Model="sec" Name='@sec.Name'></SectionCard>
        }
    </div>
}


