<h3 class="filter-header">Filter</h3>

@if (QueryModel != null)
{
    <EditForm Model="@QueryModel" OnValidSubmit="HandleQuery">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row">
            

        </div>
        <div class="row mt-1">
           
        </div>
    </EditForm>
}


@code {
    [Parameter]
    public SectionPaginationQueryVM? QueryModel { get; set; }

    [Parameter]
    public EventCallback<int> Callback { get; set; }


   

    private void OnChangeCategory()
    {

    }


    protected async Task HandleQuery()
    {
        if (Callback.HasDelegate)
        {
            await Callback.InvokeAsync();
        }
    }
}
