.blog-post-card {
    padding: 20px 0;
    border-radius: 5px;
    margin-bottom: 30px;
}

.blog-post-card-title {
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #737373;
    margin-bottom: 15px;
}

.blog-post-card-title a {
    text-decoration: none;
    color: #737373;
}

.blog-post-card-title a:hover {
    color: #333;
}

.blog-post-card-content {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
}

.blog-post-card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.blog-post-card-footer span {
    flex: 1;
    color: #6f6f6f;
}

.blog-post-card-footer span .bi {
    font-size: 16px;
    margin-right: 10px;
    color: #bbb;
}
