@inject IJSRuntime JS

@if (showBanner)
{
    <div id="cookieConsent" class="cookie-box" role="alert" style="margin-top: auto;">
        <i class="bi bi-cookie cookie-size"></i> This website only uses strictly necessary cookies to function.
        <button type="button" class="btn btn-primary" data-dismiss="alert" aria-label="Close" @onclick="AcceptMessage">
            Accept Cookies
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="alert" aria-label="Close" @onclick="RejectMessage">
            Reject Cookies
        </button>
    </div>
}
@code {
    bool showBanner = false;

    protected override async Task OnInitializedAsync()
    {
        var cookiePolicyAccepted = await JS.InvokeAsync<string>("GetCookiePolicyAccepted");
        if (cookiePolicyAccepted == null)
        {
            showBanner = true;
        }
    }

    private async Task AcceptMessage()
    {
        await JS.InvokeVoidAsync("SetCookiePolicyAccepted");
        showBanner = false;
    }

    private async Task RejectMessage()
    {
        await JS.InvokeVoidAsync("SetCookiePolicyRejected");
        showBanner = false;
    }
}