@if (TotalPages > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (var i = 1; i <= TotalPages; i++)
            {
                <li class="page-item @(i == CurrentPage ? "active" : "")">
                    <a class="page-link" href="@getUrl(i)">@i</a>
                </li>
            }
        </ul>
    </nav>
}

@code {
    [Parameter]
    public int TotalPages { get; set; }

    [Parameter]
    public int CurrentPage { get; set; }

    [Parameter]
    public string BaseUrl { get; set; }

    private string getUrl(int index)
    {
        return $"{BaseUrl}{index}";
    }

    [Parameter]
    public EventCallback<int> PageChanged { get; set; }
}
