.heading-card-body {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #fff;
    font-size: 1em;
    font-weight: 600;
    color: #333;
}

.link-heading-primary {
    color: #2c83d3;
}

.last-post-summary {
    line-height: 1em;
}

.last-post-username {
    font-size: 0.75em;
    font-weight: 400;
}

.last-post-username a {
    text-decoration: none;
}

.last-post-date {
    font-size: 0.7em;
    color: #666;
    font-weight: 400;
}