@page "/"
@using GurbForumUser.Client.Models.Section
@using GurbForumUser.Client.Pages.Sections;

<MetaTags 
    PageTitle="Homepage"
    PageDescription="GurbForum is a forum software and also it's a forum website about the forum software."
    PostTitle="GurbForum"
    ></MetaTags>

<AuthorizeView>
    <Authorized>
        <SectionList></SectionList>
    </Authorized>
    <NotAuthorized>
@*      <button class="btn btn-success" @onclick="GoToLogin">Login</button>
        ||
        <button class="btn btn-primary" @onclick="GoToRegister">Register</button> *@
        <SectionList></SectionList>
    </NotAuthorized>
</AuthorizeView>